<div class="app mat-typography">
  <app-header></app-header>
  <div id="container">
    <div id="container-panels">
      <div id="left-panel">
        <ul>
          <li (click)="handleClick('patientRecords')">Patient Records<object data="assets/images/search.png"
              width="20" height="20"> </object></li>
          <li (click)="handleClick('shedule')">diary<object data="assets/images/diary.jpg" width="20"
              height="20"> </object></li>
          <li (click)="handleClick('patientRecords')">month graph<object data="assets/images/piechart.png"
              width="20" height="20"> </object></li>
          <li (click)="handleClick('messages')">messages<object data="assets/images/messgae.jpg" width="20"
              height="20"> </object></li>
          <li (click)="handleClick('patientRecords')">patient info<object data="assets/images/info.png" width="20"
              height="20"> </object></li>
        </ul>
      </div>
      <div id="right-panel">
        <div class="mainbody-inner">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>