<div fxLayout="row wrap">
    <div fxFlex="50">
        <h1 style="color:blueviolet">Schedule meetings with children</h1>
    </div>
</div>
<mat-card-content>
    <form [formGroup]="patientForm">
        <div class="clearfix">
            <div class="clearfix">
                <mat-form-field style="width: 30%;">
                    <input matInput cdkFocusInitial placeholder="ChildName" formControlName="childName"
                        allow-email-charecters maxlength="50" minlength="2" autocomplete="off">
                </mat-form-field>
                &nbsp;
                <mat-form-field style="width: 30%;">
                    <input matInput [matDatepicker]="picker" placeholder="Meeting" formControlName="meetingData"
                        readonly (focus)="picker.open()">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker type="date"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-sm-12 clearfix mar-top">
                <button mat-raised-button class="submitbutton" type="submit" actionClick
                    (click)="scheduleMeeting()">Schedule Meeting</button>
            </div>
        </div>
    </form>
</mat-card-content>
