<div *ngIf="dataSource.data?.length>0" class="example-container mat-elevation-z8 no-shadow bord-all">
    <mat-table [dataSource]="dataSource" class="listtable">
        <!-- Position Column -->
        <ng-container matColumnDef="patientName">
            <mat-header-cell *matHeaderCellDef>Patient Name</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.patientName}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="contactParent">
            <mat-header-cell *matHeaderCellDef class="mat-column-login">Contact Parent
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-column-login"> {{element.contactParent}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="message">
            <mat-header-cell *matHeaderCellDef class="mat-column-login">
                Message
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-column-login"> {{element.message}} </mat-cell>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef class="mat-column-rolename">Status
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-column-rolename">
                <button class="btn btn-sm btn-primary" (click)="sendEmail(element)">{{element.Status == 1? 'send Email' : 'Sent Email sucessfully'}}</button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>