<mat-card>
  <mat-card-header>
    <div fxLayout="row wrap" class="popuptitle">
      <h4 class="wraptext">{{editData ? 'EditData':'AddData'}}</h4>
    </div>
    <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%; "><i class="ti-close"><img
          src="assets/images/close.jpg" width="20" height="20" /></i></button>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="patientForm">
      <div class="clearfix">
        <div class="clearfix">
          <mat-form-field style="width: 100%;">
            <input matInput cdkFocusInitial placeholder="riskScale" formControlName="riskScale" allow-email-charecters
              maxlength="50" minlength="2" autocomplete="off" required>
            <mat-error *ngIf="patientForm.controls.riskScale.errors?.required">
              This is Required filed
            </mat-error>
            <mat-error *ngIf="patientForm.get('riskScale').hasError('minlength')">
              minlength is 2</mat-error>
          </mat-form-field>
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="contactParent" formControlName="contactParent" maxlength="50" required
              autocomplete="off">
            <mat-error *ngIf="patientForm.controls.contactParent.errors?.required">
              This is required filed
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 100%;">
            <input matInput placeholder="childName" formControlName="childName" maxLength="30" minlength="1"
              autocomplete="off" required>
            <mat-error *ngIf="patientForm.controls.childName.errors?.required">This is required filed
            </mat-error>
            <mat-error *ngIf="patientForm.controls.childName.errors?.minlength">
              minlength is 1</mat-error>
          </mat-form-field>
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="lastHandlingData"  formControlName="lastHandlingData" minlength="1"
              maxlength="150"  required autocomplete="off">
            <mat-error *ngIf="patientForm.controls.lastHandlingData.errors?.required">This filed is required
            </mat-error>
            <mat-error *ngIf="patientForm.controls.lastHandlingData.errors?.minlength">
              minlemngth is 1</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width ">
            <input matInput [matDatepicker]="picker" placeholder="dob" formControlName="dob" readonly
              (focus)="picker.open()" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker type="date"></mat-datepicker>
            <mat-error *ngIf="patientForm.controls.dob.errors">
              <div *ngIf="patientForm.controls.dob.errors.required">
                This is required field
              </div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 clearfix mar-top">
          <button mat-raised-button class="submitbutton" type="submit" actionClick (click)="createUser()">{{editData ?
            'Edit':'Add'}}</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>