
  <!-- <div class="branding"> -->
    <!-- <h4 class="text-primary">Doctor Portal</h4> -->
    <div id="left-header"><p><span>i,TUR</span>TLE<sup>TM</sup></p><h5>Doctor Portal</h5>
    <!-- </div> -->
  </div>
<div id="container">
  <div id="header">
    <ul>
      <li></li>
      <li><a href="index.html">HOME</a></li>
      <li><a href="register.html">SUPPORT</a></li>
      <div id="right-header">
        <li> <button id="close-btn"></button><a href="login.html">Logout</a></li>
      </div>
    </ul>
  </div>
  <div id="sub-header">
    <div id="left-sub-header">
      <div>
        <ul>
          <li>
            <object data="assets/images/one.svg" width="20" height="20"> </object>&nbsp;
            <object data="assets/images/two.svg" width="20" height="20"> </object>
          </li>
        </ul>
        <ul>
          <li>February 13, 2023</li>
          <li>12:04</li>
        </ul>
      </div>
    </div>
    <div id="right-sub-header">
      <h2>Choose Patient</h2>
    </div>
  </div>
</div>