.listtable { border: 1px solid #dddddd !important }
.listtable .mat-cell { font-family: calibri; font-size: 13px; word-break: break-all; padding: 10px }
.listtable .mat-row .mat-cell:first-child, .listtable .mat-header-row .mat-header-cell:first-child { padding-left: 24px }
.listtable tr:nth-child(even), .listtable .mat-row:nth-child(even) { background-color: #F5F5F5 }
.listtable .mat-sort-header-container { align-items: center }
.listtable .mat-header-cell{ font-size: 13px; padding: 10px; font-weight: bold; background:#cfcfcf }
.listtable .mat-header-row { background: #cfcfcf }
.listtable .mat-row{ min-height: inherit !important }
.listtable .mat-row:hover{ background: #eeeeee!important }