<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="session sec-left">
    <div class="session-content">
      <div class="session-wrapper" style="border-radius: 9px;">
        <form [formGroup]="form">
          <h2>Login</h2>
          <mat-form-field style="width: 100%">
            <input matInput autofocus placeholder="Username" formControlName="name" allow-email-charecters
              maxlength="30" minlength="5">
          </mat-form-field>
          <mat-form-field style="width: 100%">
            <input matInput type="password" placeholder="Password" formControlName="password" minlength="5"
              maxLength="30" allow-all-nospace>
          </mat-form-field>
          <span (click)="redirectTo()">Register</span>
          <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid"
            (click)="onSubmit(form.value)" style="padding: 10px;">Sign in</button>&nbsp;
        </form>
      </div>
    </div>
  </div>
</div>